@import 'nib'

ss_teal = #63B6BE
ss_orange = #F36C21

#header-container
  position: fixed
  z-index: 99
  width: 100%
  top: 0

.header
  width: 476px
  margin: 0 auto
  padding: 10px
  border-bottom-right-radius: 5px
  border-bottom-left-radius: 5px
  background-color: ss_orange
  transition: .3s opacity linear

  #message
    color: #FFF
    margin: 0 auto
    a
      color: #CCC
      cursor: pointer
      margin-left: .5em

  &.opaque
    opacity: 0
